@model List<JobDto>
    <h1 id="job-title">Bolsa de treball</h1>
    <table id="job-table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Lloc a cobrir</th>
                <th>Localització</th>
                <th>Empresa</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count == 0)
            {
                <tr><td colspan="4" class="no-job-content">No hay ofertas de trabajo</td></tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a asp-route-id="@item.Id" asp-action="GetJob"><div class="job-div-link">@item.CreateDate</div></a></td>
                        <td><a asp-route-id="@item.Id" asp-action="GetJob"><div class="job-div-link">@item.Title</div></a></td>
                        <td><a asp-route-id="@item.Id" asp-action="GetJob"><div class="job-div-link">@item.Localization</div></a></td>
                        <td><a asp-route-id="@item.Id" asp-action="GetJob"><div class="job-div-link">@item.Company</div></a></td>
                    </tr>

                }
            }

        </tbody>

    </table>